.imagemLogin {
    width: 100%;
    height: 100vh;
    justify-content: right;
}

.div_caixa_principal {
    display: flex;
}

.msgErro {
    margin-top: -15px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.div_cadastro {
    width: 100%;
    height: 100vh;
    justify-content: left;
}



.div_caixa_principal {
    width: 100%;
    justify-content: right;
}

.titulo {
    justify-content: center;
    width: 50%;
    height: 100px;
    margin: 20px auto auto auto;
    display: flex;
}

.titulo img {
    margin-top: 20px;
    margin-left: -55px;
    height: 100px;
    width: 200px;

}

.titulo h1 {
    color: #000000;
    font-size: 20pt;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight: bold;
}

.titulo h2 {
    margin-top: 5px;
    font-size: 12pt;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 127, 127);

}

.caixa_titulo {
    flex-wrap: wrap;
    margin-top: 35px;
    width: 300px;
}

.caixa_input p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    color: #000000;
}

.caixa_input {
    justify-content: center;
    width: 60%;
    height: 500px;
    margin: 60px auto auto auto;
}

.caixa_input input {
    border: 0.5px solid black;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.caixa_input button {
    background-color: black;
    color: white;
    border: none;
    font-size: 13pt;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}

.caixa_input h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

#tituloBotaoLogin {
    text-decoration: underline;
    color: #000000;
}

#tituloBotaoLogin :hover {
    cursor: pointer;
}

.div_caixa_imagem h1 {
    text-align: center;
    position: absolute;
    color: #ffffff;
    font-size: 30pt;
    font-family: 'Poppins', sans-serif;
    margin-top: 270px;
    right: 70px;
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 10px;
    padding: 15px;
}

.div_caixa_imagem {
    width: 100%;
    justify-content: right;

}

.div_caixa_imagem {
    display: flex;
}

.caixa_input b {
    color: red;
    text-decoration: none;
}

#caixa_input_login {

    margin: 140px auto auto auto;
}

#caixa_titulo_login {
    margin-top: 100px;
    width: 400px;
}

#titulo_login img {
    margin-top: 90px;
}