.caixaCarroucel {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

span {
    font-size: x-large;
}

img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
}

.swiper {
    margin-top: 190px;
    height: 450px;
    width: 750px;

}



#imagemKobeLogo {
    margin-top: -190px;
}

.caixaTextoValores {
    color: #fff;
    margin-top: -450px;
    width: 40%;
    margin-left: 900px;
}

.caixaTextoValores h1 {
    text-align: center;
    font-size: 32pt;
    color: #f0c630;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caixaTextoValores p {
    font-size: 20pt;
    margin-top: 30px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: 36px;
}


#Carrosel {
    width: 740px;
    height: 450px;
    position: absolute;
    margin-top: -450px;
    margin-left: 90px;
    border-radius: 10px;
}

#backgroudCarrousel {
    border-radius: 10px;
}

#setaEsquerda {
    position: absolute;
    width: 100px;
    top: 200px;
    z-index: 2;
}

#setaEsquerda :hover {
    z-index: 2;
    cursor: pointer;
}

#setaDireita {
    position: absolute;
    width: 100px;
    top: 200px;
    z-index: 2;
    margin-left: 640px;
}

#setaDireita :hover {
    z-index: 2;
    cursor: pointer;
}