table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table * {
    position: relative;

}

table th {
    border: 1px solid rgb(0, 0, 0);
}

table td {
    border: 1px solid rgb(0, 0, 0);
    padding: 15px 5px 5px 5px;
}

table tr {
    background-color: rgb(233, 250, 255);

}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #356bb7;
    font-size: 16px;
}

table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}


table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

#caixaTituloTabela {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#imgTabela {
    position: absolute;
    width: 70px;
    left: -5px;
    top: 3px;
}

#imgTd {
    width: 50px;
}

/* tirar essa propriedade de expandir a tabela assim que o texto aumentar*/