table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

table * {
    position: relative;

}

table th {
    border: 1px solid rgb(0, 0, 0);
}

table td {
    border: 1px solid rgb(0, 0, 0);
    padding: 15px 5px 5px 5px;
}

table tr {
    background-color: rgb(233, 250, 255);

}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #356bb7;
    font-size: 16px;
}

table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}


table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

#caixaTituloTabela {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#imgTabela {
    position: absolute;
    width: 70px;
    left: -5px;
    top: 3px;

}

#imgTabelaUser {
    position: absolute;
    width: 70px;
    height: 50px;
    left: -5px;
    top: 3px;

}

#imgTd {
    width: 250px;
    padding: 0px 0px 0px 65px;
}

#suaPosicao {
    background-color: orange;
}

.caixaTabela {
    display: flex;
    margin-top: 20px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
}

#tituloTabela {
    padding: 0px 10px 0px 100px;
}

.caixaSubTituloTabela {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;

}

.caixaSelect {
    margin-left: 120px;

}

select {
    font-size: 15pt;
}

#estatisticasFinais {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: #356bb7;
    top: 200px;
    right: 120px;
    border-radius: 5px;
    font-weight: bold;
}

#estatisticasFinais:hover {
    cursor: pointer;
}

/* tirar essa propriedade de expandir a tabela assim que o texto aumentar*/